@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D5E1EF;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 152px 0px 151px 0px;
}

.mshobeli{
    background-color: white;
    height: 497px;
    width: 320px;
    padding: 16px;
    border-radius: 20px;
    display: block;
    justify-content: center;
}

.shvili{
    background-color: #2C7DFA;
    height: 288px;
    width: 288px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 22px;
    font-weight: 700;
    font-family: outfit;
    text-align: center;
    color: #1F314F;
    margin: 24px 0 16px;
}

p{
    font-size: 15px;
    font-weight: 400;
    font-family: outfit;
    text-align: center;
    color: #7D889E;
    margin: 0 16px 40px;
}